.confirm{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    padding:10px;
    box-sizing: border-box;
    
    opacity:0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

@Keyframes confirm---open {
    from{opacity:0}
    to{opacity:1}
}

.confirm--close{
    animation-name: confirm---close;
}

@Keyframes confirm---close{
    from{opacity:1}
    to{opacity:0}
}

.confirm__window{
    width:100%;
    max-width: 600px;
    background: white;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

@Keyframes confirm__window---open{
    to{
        opacity:1;
        transform: scale(1);
    }
}

.confirm__titlebar{
    background: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons{
    padding: 1.25em;
}

.confirm__title{
    font-weight: bold;
    font-size: 1.1em;
}

.confirm__close{
    background: none;
    outline: none;
    border: none;
    transform: scale(2.3);
    color: #ffffff;
    transition: color 0.15s;
}

.confirm__close:hover{
    color: #ff0000;
    cursor: pointer;
}

.confirm__content{
    line-height: 1.8em;
}

.confirm__buttons{
    background: #eeeeee;
    display: flex;
    justify-content: flex-end;
}

.confirm__button{
    padding: 0.4em 0.8em;
    border: 2px solid #009879;
    border-radius: 5px;
    background: #ffffff;
    color: #009879;
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill{
    background: #009879;
    color: #ffffff;
}

.confirm__button--fill:focus{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.navbar{
    height:15vh;
    width: 100%;
    margin:auto;
    display:flex;
    align-items: center;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

.logo{
    width: 160px;
    cursor:pointer;
}

nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color:#6495ED;
}

.boton{
    position:relative;
    top:-8px;
    right:-502px;
}

/*Finaliza CSS referente a la barra de navegación*/

.container{
    height:100vh;
    width:100%;
    background-position:center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;
    background-attachment: fixed;
}

h1{
    text-align: center;
    color:#6495ED;
}

.descripcion{
    position:absolute;
    top:48%;
    left:72%;
    width:543px;
    background: #f4f5f7;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    border-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.subir{
    position:relative;
    left: 43%;
}

*{
    padding: 0;
    margin: 0;
}


.menu-bar
{
    background: rgba(72, 138, 224);
    text-align: center;

}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
    
}

.LOGO ul {
    margin-bottom: 0;
}

.menu-bar li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: aliceblue;
}

.active, .menu-bar ul li:hover
{
    background: #174b8e;
    border-radius: 3px;
}


body.UserProfile
{
    background-image: url(MyInfo.JPG);
      
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(72, 138, 224, 0.66);
}

.wrapper .left{
    width: 35%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;

}

.wrapper .right{
    width: 65%;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px 25px;
}