body {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23CCADAF' width='11' height='11'/%3E%3Crect fill='%23cdaeaf' x='10' width='11' height='11'/%3E%3Crect fill='%23ceafb0' y='10' width='11' height='11'/%3E%3Crect fill='%23cfb0b0' x='20' width='11' height='11'/%3E%3Crect fill='%23cfb1b0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d0b2b1' y='20' width='11' height='11'/%3E%3Crect fill='%23d1b3b1' x='30' width='11' height='11'/%3E%3Crect fill='%23d2b4b2' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d3b5b2' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d3b6b2' y='30' width='11' height='11'/%3E%3Crect fill='%23d4b7b3' x='40' width='11' height='11'/%3E%3Crect fill='%23d5b8b3' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d5bab4' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d6bbb4' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d7bcb5' y='40' width='11' height='11'/%3E%3Crect fill='%23d7bdb5' x='50' width='11' height='11'/%3E%3Crect fill='%23d8beb6' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d8bfb6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d9c0b7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23dac1b8' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23dac2b8' y='50' width='11' height='11'/%3E%3Crect fill='%23dbc3b9' x='60' width='11' height='11'/%3E%3Crect fill='%23dbc4ba' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23dcc6ba' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23dcc7bb' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23ddc8bc' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23ddc9bc' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23decabd' x='70' width='11' height='11'/%3E%3Crect fill='%23decbbe' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23dfccbf' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23dfcdc0' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23dfcfc0' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e0d0c1' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e0d1c2' x='80' width='11' height='11'/%3E%3Crect fill='%23e1d2c3' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23e1d3c4' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23e2d4c5' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23e2d5c6' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23e2d7c7' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23e3d8c8' x='90' width='11' height='11'/%3E%3Crect fill='%23e3d9c9' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e3daca' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e4dbcb' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e4dccc' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e5ddcd' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e5dece' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e5e0cf' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e6e1d0' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e6e2d2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e7e3d3' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e7e4d4' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e7e5d5' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e8e6d6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e8e7d7' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e9e9d9' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e9eada' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23eaebdb' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23eaecdc' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ebedde' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EBEEDF' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 340px;
  height: 500px;
  background: #000;
  color: #fff;
  top: 59%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .Pago {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="number"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}


.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

*{
    padding: 0;
    margin: 0;
}


.menu-bar
{
    background: rgba(72, 138, 224);
    text-align: center;

}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
    
}

.LOGO ul {
    margin-bottom: 0;
}

.menu-bar li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: aliceblue;
}

.active, .menu-bar ul li:hover
{
    background: #174b8e;
    border-radius: 3px;
}


body.UserProfile
{
    background-image: url(MyInfo.JPG);
      
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(72, 138, 224, 0.66);
}

.wrapper .left{
    width: 35%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;

}

.wrapper .right{
    width: 65%;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px 25px;
}