<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Dog House</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>

    <body>
        <header layout:fragment="header">
            <div class="LOGO">
                <ul>
                    <img src="/images/LogoDH.JPG" alt="Logo" style="float: left; width: 120px; margin: 15px; padding: 15px; margin-right: 15px;">

                </ul>
            </div>

            <div class="menu-bar">
                <ul>
                    <li><a href="/UserProfile">Mi Cuenta</a></li>
                    <li><a href="/habitaciones">Reserva Una Habitacion</a></li>
                    <li><a href="Login.html">Login</a></li>
                    <li><a href="/Pagos">Pagos</a></li>
                    <li><a href="/reservacion">Mis reservaciones</a></li>
                </ul>
            </div>
        </header>

        <footer layout:fragment="footer" class='footer'>
            <ul>
                <li><a href="/contacto">Contactanos</a></li>
                <li><a href="/testimonios">Testimonios</a></li>
            </ul>
        </footer>
    </body>
</html>