<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Mis testimonios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/testimonios.css"/>
        <link rel="stylesheet" href="/css/master.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>
        <header th:insert="/master :: header"></header>

        <div class="container my-5">
            <h1>Habitaciones</h1>

            <div class="text-end">
                <a href="/admin/habitaciones/nuevo" class="btn btn-primary">Agregar pelicula</a>
            </div> 

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="testimonio: ${testimonios}" th:object="${testimonio}">
                        <td style="width: 150px;"><a
                                th:href="@{/assets/{filename}(filename=*{rutaPortada})}"
                                data-fancybox> <img
                                    th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
                                    class="img-thumbnail w-100">
                            </a></td>
                        <td>
                            <div th:text="*{nombre}" class="fs-5 fw-bold"></div>
                        </td>
                        <td>
                            <p th:text="*{descripcion}"></p>
                        </td>
                        
                        <td class="text-end"><a
                                th:href="@{/testimonios/lista/{id}/editar(id=*{id})}">Editar</a> <a
                                href="javascript:void(0)" class="text-danger ms-3"
                                th:onclick="'eliminarHabitacion(' + *{id} +')'">Eliminar</a>
                            <form th:id="'eliminarHabitacionForm' + *{id}"
                                  th:action="@{/testimonios/lista/{id}/eliminar(id=*{id})}"
                                  method="post" class="d-none"></form></td>
                    </tr>
                </tbody>
            </table>

            <div class="row mt-5" th:with="page=${habitaciones}">
                <div class="col-sm-6">
                    <div sd:pagination-sumary></div>
                    <div class="col-sm-6">
                        <nav>
                            <ul class="pagination" sd:pagination="full"></ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div>
                <script>
                    function eliminarHabitacion(id) {
                        if (!confirm('¿Estás seguro de eliminar esta habitacion?')) {
                            return;
                        }
                        $('#eliminarHabitacionForm' + id).submit();
                    }
                </script>

                <script
                src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
                <script
                src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
                <script
                src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            </div>
        </div>
    </body>
    <footer th:insert="/master :: footer"></footer>
</html>
